

*{
  margin:0px;
  padding: 0px;
  
}

body{
  width: 100%;
  height: 100%;
  
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; 
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

